.scoreboard{
	max-width: 600px;
	margin: auto;
	text-align: center;
	border: 1px solid #ccc;
}

.teams{
	float: left;
	width: 100%;
}

.team-name, .counter{
	width: 100%;
	text-align: left;
	font-size: 20px;
}

.counter button, .team-score{
	float: left;
	width: 33%;
}

.minus{
	background-color: yellow;
	color: black;
}
.plus{
	background-color: red;
	color: black;
}